{% extends 'admin.base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block h2 %}Catégorie : {{ categorie.titre }}{% endblock %}

{% block body %}
    <h2></h2>

<div class="col-xs-12 col-lg-4 shadow p-3 mb-4 bg-body rounded">
    <div class="row">    
            <table class="table">
                <tbody>
                    <tr>
                        <th class="col-2">Id</th>
                        <td>{{ categorie.id }}</td>
                    </tr>
                    <tr>
                        <th class="col-2">Titre</th>
                        <td>{{ categorie.titre }}</td>
                    </tr>
                    <tr>
                        <th class="col-2">Image</th>
                        <td>
                            <img src="{{ asset("images/uploadCategorie/" ~ categorie.image) }}" alt="" width="100px">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex gap-2">
                <a class="btn btn-primary" role="button" href="{{ path('app_admin_categorie_index') }}"><i class="fa-solid fa-arrow-left"></i> Retour à la liste</a>

                <a class="btn btn-success" role="button" href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}">Modifier</a>

                {{ include('admin_categorie/_delete_form_btn.html.twig') }}
            </div>    
    </div>
</div>

{% endblock %}
