{% extends 'admin.base.html.twig' %}

{% block title %}{{ parent() }} | Gestion des Membres{% endblock %}

{% block h2 %}Gestion des Membres{% endblock %}

{% block body %}
    
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <div>
                <i class="fa-solid fa-users me-2"></i>
                Les membres du Club du Sourire
                </div>
                {# <div class="ms-auto">
                <input  data-search="true" type="search" class="search form-control" placeHolder="Search here...">
                </div> #}
            </div>
            <div class="row card-body ">
            
                    <table class="table table-responsive table-hover"   
                        data-toolbar="#toolbar"
                        data-toggle="table"
                        data-search="true"  
                        data-show-columns="true"
                        data-show-columns-toggle-all="true"
                        data-show-refresh="true"
                        data-show-toggle="true" 
                        data-show-pagination-switch="true" 
                        data-show-export="true"
                        data-click-to-select="true"
                        data-minimum-count-columns="3" >
                        <thead>
                            <tr>
                                <th data-sortable="true" data-field="id">Id</th>
                                <th data-sortable="true" data-field="nom">Nom</th>
                                <th data-sortable="true" data-field="prenom">Prenom</th>
                                <th>Adresse</th>
                                <th data-sortable="true" data-field="ville">Ville</th>
                                <th data-sortable="true" data-field="code_postal">CP</th>
                                <th data-sortable="true" data-field="date_de_naissance">Date de Naissance</th>
                                <th data-sortable="true" data-field="age">Age</th>
                                <th>Email</th>
                                <th>Telephone</th>
                                <th data-sortable="true" data-field="annee_adhesion">Annee adhesion</th>
                                <th data-sortable="true" data-field="roles">Roles</th>
                                <th>Voir</th>
                                {# <th>Password</th> #}
                                {# <th>actions</th> #}
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td class="Id">{{ user.id }}</td>
                                    <td class="nom">{{ user.nom }}</td>
                                    <td>{{ user.prenom }}</td>
                                    <td>{{ user.adresse }}</td>
                                    <td>{{ user.ville }}</td>
                                    <td>{{ user.codePostal }}</td>
                                    <td>{{ user.anneeDeNaissance|date('Y') }}</td>
                                    <td>{{ user.age }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        {{ user.telephone|slice(0, 2) ~ " " ~ user.telephone|slice(2, 2) ~ " " ~ user.telephone|slice(4, 2) ~ " " ~ user.telephone|slice(6, 2) ~ " " ~ user.telephone|slice(8, 2) ~ " "}}
                                    </td>
                                    <td>{{ user.anneeAdhesion ? user.anneeAdhesion|date('Y') }}</td>
                                    {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                                    <td>{% for role in app.user.roles %}
                                            {% if role == "ROLE_ADMIN" %}
                                                ADMIN
                                                {% elseif role == "ROLE_USER" %}
                                                    USER
                                            {% endif %}
                                            {# {{ role }} #}
                                            {% if not loop.last %}, {% endif %}
                                        {% endfor %}      
                                    </td>
                                    {# <td>{{ user.password }}</td> #}
                                    <td class="text-center">
                                        <a href="{{ path('app_admin_user_show', {'id': user.id}) }}"><i class="fa-solid fa-magnifying-glass"></i></a>
                                        {# <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a> #}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">Aucun résultat</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                  
            </div>
        </div>
    
    {# <a href="{{ path('app_admin_user_new') }}">Create new</a> #}
{% endblock %}
